.App {
  text-align: center;
  background-color: #000;
  height: 100%;
}

.App-header {
  /*background-color: #000;*/
  height: 15%;
  padding: 2%;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.App-logo {
  height: 100%;
  width: 80%;
  grid-column-start: 1;
  grid-column-end: 2;
  cursor: pointer;
}

.header-text-1 {
  font-family: Helvetica;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 2.5;
  cursor: pointer;
}
.header-text-2 {
  font-family: Helvetica;
  font-weight: bold;
  grid-column-start: 3;
  grid-column-end: 4;
  cursor: pointer;
}
.header-text-3 {
  font-family: Helvetica;
  font-weight: bold;
  grid-column-start: 4;
  grid-column-end: 5;
  cursor: pointer;
}

.filler {
  grid-column-start: 5;
  grid-column-end: 8;
}

.search {
  height: 25px;
  grid-column-start: 8;
  grid-column-end: 9;
  cursor: pointer;
}

.gallery {
  /*border: 1px solid red;*/
  width: 100%;
  height: 25%;
  position: relative;
}

.gallery-photo {
  width: 100%;
  height: 50%;
}

.loading {
  height: 100%;
}

.gallery-container {
  margin-bottom: 5%;
}

#gallery-description {
  font-weight: bold;
  position: absolute;
  font-size: 40px;
  color: white;
  bottom: 25%;
  text-align: left;
  margin-left: 5%;
  width: 100%;
}

#watch {
  position: absolute;
  bottom: 20%;
  float: left;
  height: 5%;
  width: 10%;
  background: #008ee0;
  color: white;
  font-family: sans-serif;
  margin-left: 5%;
  font-size: 15px;
  cursor: pointer;
}

.login {
  font-family: Helvetica;
  grid-column-start: 9;
  grid-column-end: 10;
  cursor: pointer;
}
.App-title {
  font-size: 1.5em;
}

.category {
  width: 100%;
  height: 250px;
  border-top: 1px solid white;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  margin-bottom: 5%;
  left: 10%;
  justify-content: space-between;
}

h3 {
  position: relative;
  color: #2b77f2;
  float: left;
  left: 3%;
  font-family: sans-serif;
}

#category-prev {
  position: relative;
  height: 15%;
  cursor: pointer;
  float: left;
  z-index: 1;
  top: 50%;
}

#category-next {
  position: relative;
  height: 15%;
  cursor: pointer;
  float: right;
  z-index: 1;
  top: 50%;
}

.category-photo {
  position: relative;
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  width: 95%;
  margin-top: 5%;
}

.card:hover {
  -moz-box-shadow:  0 0 50px #2b77f2;
  -webkit-box-shadow: 0 0 50px #2b77f2;
  box-shadow: 0 0 50px #2b77f2;
  cursor: pointer;
}

footer {
  border-top: 3px solid #2b77f2;
  height: 150px;
  background: grey;
}

.card:hover .play{display:block;}

.play{
  position : relative;
  display:none;
  top:40%;
  height: 0;
  left:0;
  z-index:2;
} 

#prev {
  z-index: 1;
  float: left;
  height: 100%;
  cursor: pointer;
}

#next {
  z-index: 1;
  float: right;
  height: 100%;
  cursor: pointer;
}

#buttonContainer {
  position: absolute;
  width: 25%;
  height: 50px;
  display: table;
  margin: 0 auto;
  z-index: 2;
  bottom: 15%;
  left: 37.5%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
